:root {
  --A: #2B6B51;
  --B: #49B88C;
}

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: larger;
}

.app-header {
  background-image: linear-gradient(to right, var(--B), var(--A));
  padding: 1%;
}

.alertPopover {
  max-width: 44%;
}

.weather-card {
  background-color: #e3e3e3;
}